# National Health and Nutrition Examination Survey (NHANES)
[https://wwwn.cdc.gov/nchs/nhanes/](https://wwwn.cdc.gov/nchs/nhanes/)

Este laboratório usará dados extraídos do NHANES.

## NHANES datasets from 2013-2014

Foram extraídos dados do [NHANES 2013-2014](https://wwwn.cdc.gov/nchs/nhanes/continuousnhanes/default.aspx?BeginYear=2013).

Os dados estão disponíveis em arquivos CSV no diretório `/../data`. Lá está disponível a documentação do esquema dos arquivos.

# Tarefa 1 - Esquema Relacional

Analise os arquivos CSV que estão no diretório `/../data` e escreva um esquema relacional referente às tabelas, suas chaves primárias e estrangeiras (não é SQL ainda). Coloque a chave primária com dois underlines antes e dois depois.

Person(__id__, gender, age)
    
Drug(__code__, name)

DrugUse(__id, code__, days_use)
   1. id $\rightarrow$ CHE Person
   2. code $\rightarrow$ CHE Drug

## Criação das Tabelas em SQL e Importação de Dados

Considere o seguinte exemplo em que é criada uma tabela em SQL e importado dados do arquivo CSV `demographic-person.csv`.

In [1]:
%defaultDatasource jdbc:h2:mem:db

In [2]:
DROP TABLE IF EXISTS Pessoa;

CREATE TABLE Pessoa (
  Id VARCHAR(5) NOT NULL,
  Gender INTEGER,
  Age INTEGER,
  PRIMARY KEY(Id)
) AS SELECT
    id,
    gender,
    age
FROM CSVREAD('../data/demographic-person.csv');

SELECT * FROM Pessoa;

# Tarefa 2 - Criação das Tabelas em SQL e Importação de Dados

Escreva instruções SQL para montar as duas tabelas restante, conforme definido no esquema relacional da **Tarefa 1**.

**Importante:** não defina chave primária para a tabela de uso de medicamento.

Durante a criação das tabelas, realize a importação dos dados do arquivo CSV nas tabelas criadas, conforme exemplo anterior.

In [3]:
DROP TABLE IF EXISTS Medicamento;

CREATE TABLE Medicamento (
  Code VARCHAR(6) NOT NULL,
  Name VARCHAR(100),
  PRIMARY KEY(Code)
) AS SELECT
    code,
    name
FROM CSVREAD('../data/medications-drug.csv');

SELECT * FROM Medicamento;

In [4]:
DROP TABLE IF EXISTS MedicamentoUso;

CREATE TABLE MedicamentoUso (
  Id VARCHAR(5) NOT NULL,
  Code VARCHAR(6) NOT NULL,
  DaysUse INTEGER
) AS SELECT
    person_id,
    drug_code,
    days_use
FROM CSVREAD('../data/medications-use.csv');

SELECT * FROM MedicamentoUso;

# Tarefa 3 - Consultas Simples

Execute as consultas a seguir.

a) Liste pessoas com idade acima de 60

In [5]:
SELECT P.Id, P.Age
FROM Pessoa P
WHERE P.Age > 60

b) Liste as idades das pessoas cadastradas (sem repetições)

In [6]:
SELECT DISTINCT P.Age
FROM Pessoa P

c) Liste código das pessoas, idade, código dos medicamentos que usaram e dias de uso

In [7]:
SELECT P.Id, P.Age, MU.Code, MU.DaysUse
FROM Pessoa P, MedicamentoUso MU
WHERE P.Id = MU.Id

d) Liste código das Pessoas, idade, nome dos medicamentos que usaram e quantos dias de uso

In [8]:
SELECT P.Id, P.Age, M.Name, MU.DaysUse
FROM Pessoa P, MedicamentoUso MU, Medicamento M
WHERE P.Id = MU.Id AND M.Code = MU.Code

e) Liste nome dos medicamentos que foram usados por pessoas (sem repetições)

In [9]:
SELECT DISTINCT M.Name
FROM Medicamento M, MedicamentoUso MU, Pessoa P
WHERE MU.Id = P.Id AND MU.Code = M.Code

f) Liste nome dos medicamentos usados por mais de 2.000 dias (sem repetições)

In [10]:
SELECT DISTINCT M.Name
FROM Medicamento M, MedicamentoUso MU, Pessoa P
WHERE MU.Id = P.Id AND MU.Code = M.Code AND MU.DaysUse > 2000